<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <% if logged_in? %>
      <%= link_to "Car Rental App", user_path(current_user), id: :logo %>
    <% else %>
      <%= link_to "Car Rental App", root_path, id: :logo %>
    <% end %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Cars <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Search & view cars", cars_path %></li>
              <% if isAdmin? || isSuperAdmin? %>
                <li><%= link_to "Add new car", new_car_path %></li>
              <% elsif isCustomer? %>
                <li><%= link_to "Suggest new car", new_car_path %></li>
              <% end %>
            </ul>
          </li>
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Reservations <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Search & view reservations", reservations_path %></li>
                <li><%= link_to "View waitinglist", waitinglists_path %></li>
                <li><%= link_to "Add new reservation", cars_path %></li>
              </ul>
            </li>
          <% if isAdmin? || isSuperAdmin? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Users <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Search & view users", users_path %></li>
                <li><%= link_to "Add new user", new_user_path %></li>
              </ul>
            </li>
          <% end %>
           <li><%= link_to 'Connect with others', users_path if logged_in? %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= current_user.name %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
<header class="navbar navbar-fixed-bottom navbar-inverse">
    <!-- Footer Links -->
    <div class="container text-center text-md-left">
      
        <div class="col-md-3 mb-md-0 mb-3">
          <!-- Links -->
          <h5 class="text-uppercase">Contacts</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#!">tel1: 0782338270</a>
            </li>
            
            <li>
              <a href="#!">Email: cherifchervis@gmail.com</a>
            </li>
            <li>
              <a href="#!">instagram: car_rental_app</a>
            </li>
          </ul>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
          <!-- Links -->
          <h5 class="text-uppercase">Address</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#!">Kigali Rwanda</a>
            </li>
            <li>
              <a href="#!">Kicukiro Nyanza</a>
            </li>
          </ul>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
    <!-- Footer Links -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
       car_rental app  &nbsp;&nbsp;&nbsp;&nbsp; All Right Reserved
    </div>
    <!-- Copyright -->
  </header>